flows.json
[{"id":"6807afa437fa419a","type":"tab","label":"Wetterstation","disabled":false,"info":"Kommunikation mit der Wetterstation WS980 Wifi von ELV\nhttps://de.elv.com/elv-wifi-wetterstation-ws980wifi-inkl-funk-aussensensor-868-mhz-app-pc-auswertesoftware-250408"},{"id":"742dc631a72d20af","type":"tcp request","z":"6807afa437fa419a","name":"TCP Wetterstation","server":"10.11.13.5","port":"45000","out":"time","splitc":"1000","x":330,"y":420,"wires":[["b22e1a4037dae255","5529b0f888554ee3"]]},{"id":"4f0923f3ecc18022","type":"inject","z":"6807afa437fa419a","name":"Livedaten","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"20","crontab":"","once":false,"onceDelay":0.1,"topic":"livestats","payload":"[\"0xff\",\"0xff\",\"0x0b\",\"0x00\",\"0x06\",\"0x04\",\"0x04\",\"0x19\"]","payloadType":"bin","x":110,"y":400,"wires":[["742dc631a72d20af","5529b0f888554ee3"]]},{"id":"b22e1a4037dae255","type":"switch","z":"6807afa437fa419a","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"livestats","vt":"str"},{"t":"eq","v":"min","vt":"str"},{"t":"eq","v":"max","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":610,"y":500,"wires":[["1908624d8d100d3c"],[],[]]},{"id":"1908624d8d100d3c","type":"split","z":"6807afa437fa419a","name":"","splt":"1","spltType":"len","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"topic","x":920,"y":500,"wires":[["76af09ee161f7054"]]},{"id":"76af09ee161f7054","type":"switch","z":"6807afa437fa419a","name":"","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"eq","v":"7","vt":"str"},{"t":"eq","v":"8","vt":"str"},{"t":"eq","v":"9","vt":"str"},{"t":"eq","v":"10","vt":"str"},{"t":"eq","v":"11","vt":"str"},{"t":"eq","v":"12","vt":"str"},{"t":"eq","v":"13","vt":"str"},{"t":"eq","v":"14","vt":"str"},{"t":"eq","v":"15","vt":"str"},{"t":"eq","v":"16","vt":"str"},{"t":"eq","v":"17","vt":"str"},{"t":"eq","v":"18","vt":"str"},{"t":"eq","v":"19","vt":"str"},{"t":"eq","v":"20","vt":"str"},{"t":"eq","v":"21","vt":"str"},{"t":"eq","v":"22","vt":"str"},{"t":"eq","v":"23","vt":"str"},{"t":"eq","v":"24","vt":"str"},{"t":"eq","v":"25","vt":"str"},{"t":"eq","v":"26","vt":"str"},{"t":"eq","v":"27","vt":"str"},{"t":"eq","v":"28","vt":"str"},{"t":"eq","v":"29","vt":"str"},{"t":"eq","v":"30","vt":"str"},{"t":"eq","v":"31","vt":"str"},{"t":"eq","v":"32","vt":"str"},{"t":"eq","v":"33","vt":"str"},{"t":"eq","v":"34","vt":"str"},{"t":"eq","v":"35","vt":"str"},{"t":"eq","v":"36","vt":"str"},{"t":"eq","v":"37","vt":"str"},{"t":"eq","v":"38","vt":"str"},{"t":"eq","v":"39","vt":"str"},{"t":"eq","v":"40","vt":"str"}],"checkall":"false","repair":false,"outputs":41,"x":1090,"y":500,"wires":[[],[],[],[],[],[],[],["8ed11214d7e2c262"],["8ed11214d7e2c262"],[],["4620f8dcad5e105e"],["4620f8dcad5e105e"],[],[],[],[],[],[],[],[],[],[],["20b6acf6f9288070"],[],["8d938e55f75d583a"],[],["18d24a02e09d3b88"],["18d24a02e09d3b88"],[],["01981c765d0db2ec"],["01981c765d0db2ec"],[],["064750f8e46b3b58"],["064750f8e46b3b58"],[],["0d9559a8836e3fe2"],["0d9559a8836e3fe2"],[],[],[],[]]},{"id":"432c79d2b3711216","type":"inject","z":"6807afa437fa419a","name":"Minimum","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"min","payload":"[\"0xff\",\"0xff\",\"0x0b\",\"0x00\",\"0x06\",\"0x06\",\"0x06\",\"0x1d\"]","payloadType":"bin","x":100,"y":460,"wires":[["742dc631a72d20af"]]},{"id":"cb568d0aec4ce88f","type":"inject","z":"6807afa437fa419a","name":"Maximum","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"max","payload":"[\"0xff\",\"0xff\",\"0x0b\",\"0x00\",\"0x06\",\"0x05\",\"0x05\",\"0x1b\"]","payloadType":"bin","x":100,"y":540,"wires":[["742dc631a72d20af"]]},{"id":"8ed11214d7e2c262","type":"join","z":"6807afa437fa419a","name":"Temp innen","mode":"custom","build":"buffer","property":"payload","propertyType":"msg","key":"topic","joiner":"","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1450,"y":340,"wires":[["4d17ddc4b47b6155"]]},{"id":"4d17ddc4b47b6155","type":"function","z":"6807afa437fa419a","name":"Temp innen","func":"var low = msg.payload[1];\nvar high = msg.payload[0];\n\nvar lowhex = low.toString(8);\nvar highhex = high.toString(8);\n\nvar total = ((high << 8) + low) / 10;\n\nmsg.payload = total;\nmsg.measurement = \"wetter\";\nmsg.topic = \"wetterstation/tempInnen\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1630,"y":340,"wires":[["0addb75a34dff4d6","cbd9338d322a0b79"]]},{"id":"4620f8dcad5e105e","type":"join","z":"6807afa437fa419a","name":"Temp außen","mode":"custom","build":"buffer","property":"payload","propertyType":"msg","key":"topic","joiner":"","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1450,"y":380,"wires":[["dc546bb582d36435"]]},{"id":"dc546bb582d36435","type":"function","z":"6807afa437fa419a","name":"Temp aussen","func":"var low = msg.payload[1];\nvar high = msg.payload[0];\n\nvar lowhex = low.toString(8);\nvar highhex = high.toString(8);\n\nvar total = ((high << 8) + low) / 10;\n\nmsg.payload = total;\nmsg.measurement = \"wetter\";\nmsg.topic = \"wetterstation/tempAussen\"\n\nif (total % 1 === 0) {\n    global.set('varTemp', total + \".0\");\n}\nelse {\n    global.set('varTemp', total);\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1640,"y":380,"wires":[["0addb75a34dff4d6","9cbfdba5b24dd18f"]]},{"id":"0addb75a34dff4d6","type":"mqtt out","z":"6807afa437fa419a","name":"mqtt Wetterstation","topic":"","qos":"2","retain":"","broker":"e324f04f.604e68","x":2190,"y":580,"wires":[]},{"id":"20b6acf6f9288070","type":"change","z":"6807afa437fa419a","name":"Feuchte innen","rules":[{"t":"set","p":"topic","pt":"msg","to":"wetterstation/humInnen","tot":"str"},{"t":"set","p":"measurement","pt":"msg","to":"%","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"payload.0","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1460,"y":520,"wires":[["0addb75a34dff4d6"]]},{"id":"8d938e55f75d583a","type":"change","z":"6807afa437fa419a","name":"Feuchte aussen","rules":[{"t":"set","p":"topic","pt":"msg","to":"wetterstation/humAussen","tot":"str"},{"t":"set","p":"measurement","pt":"msg","to":"%","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"payload.0","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1460,"y":560,"wires":[["0addb75a34dff4d6"]]},{"id":"18d24a02e09d3b88","type":"join","z":"6807afa437fa419a","name":"Druck abs.","mode":"custom","build":"buffer","property":"payload","propertyType":"msg","key":"topic","joiner":"","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1450,"y":600,"wires":[["2bfbf03faf32df75"]]},{"id":"2bfbf03faf32df75","type":"function","z":"6807afa437fa419a","name":"Druck abs.","func":"var low = msg.payload[1];\nvar high = msg.payload[0];\n\nvar total = ((high << 8) + low) / 10;\n\nmsg.payload = total;\nmsg.measurement = \"wetter\";\nmsg.topic = \"wetterstation/druckAbs\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1630,"y":600,"wires":[["0addb75a34dff4d6","90c99c3962037298"]]},{"id":"01981c765d0db2ec","type":"join","z":"6807afa437fa419a","name":"Druck rel.","mode":"custom","build":"buffer","property":"payload","propertyType":"msg","key":"topic","joiner":"","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1440,"y":640,"wires":[["bf710b06f33c2a93"]]},{"id":"bf710b06f33c2a93","type":"function","z":"6807afa437fa419a","name":"Druck rel.","func":"var low = msg.payload[1];\nvar high = msg.payload[0];\n\nvar total = ((high << 8) + low) / 10;\n\nmsg.payload = total;\nmsg.measurement = \"wetter\";\nmsg.topic = \"wetterstation/druckRel\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1620,"y":640,"wires":[["0addb75a34dff4d6","e7f5ec90cc26393c"]]},{"id":"064750f8e46b3b58","type":"join","z":"6807afa437fa419a","name":"Wind dir","mode":"custom","build":"buffer","property":"payload","propertyType":"msg","key":"topic","joiner":"","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1440,"y":680,"wires":[["8c524b4fed476cc0"]]},{"id":"8c524b4fed476cc0","type":"function","z":"6807afa437fa419a","name":"Wind dir","func":"var low = msg.payload[1];\nvar high = msg.payload[0];\n\nvar total = ((high << 8) + low);\n\nmsg.payload = total;\nmsg.measurement = \"wetter\";\nmsg.topic = \"wetterstation/windDir\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1620,"y":680,"wires":[["0addb75a34dff4d6","f617c8f8d66cb0ca"]]},{"id":"5529b0f888554ee3","type":"debug","z":"6807afa437fa419a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":540,"y":700,"wires":[]},{"id":"946ce561eefd9556","type":"link out","z":"6807afa437fa419a","name":"","links":["5b4bd6ef97595b92"],"x":2255,"y":540,"wires":[]},{"id":"9cbfdba5b24dd18f","type":"change","z":"6807afa437fa419a","name":"Taussen InfluxDB","rules":[{"t":"set","p":"topic","pt":"msg","to":"Taussen","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1890,"y":340,"wires":[["ee255cdafe48068d"]]},{"id":"cbd9338d322a0b79","type":"change","z":"6807afa437fa419a","name":"Tinnen InfluxDB","rules":[{"t":"set","p":"topic","pt":"msg","to":"Tinnen","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1900,"y":300,"wires":[["ee255cdafe48068d"]]},{"id":"ee255cdafe48068d","type":"join","z":"6807afa437fa419a","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"6","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":2170,"y":540,"wires":[["946ce561eefd9556"]]},{"id":"90c99c3962037298","type":"change","z":"6807afa437fa419a","name":"Pabs InfluxDB","rules":[{"t":"set","p":"topic","pt":"msg","to":"Pabs","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1900,"y":500,"wires":[["ee255cdafe48068d"]]},{"id":"e7f5ec90cc26393c","type":"change","z":"6807afa437fa419a","name":"Prel InfluxDB","rules":[{"t":"set","p":"topic","pt":"msg","to":"Prel","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1890,"y":540,"wires":[["ee255cdafe48068d"]]},{"id":"f617c8f8d66cb0ca","type":"change","z":"6807afa437fa419a","name":"Wdir InfluxDB","rules":[{"t":"set","p":"topic","pt":"msg","to":"Wdir","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1880,"y":680,"wires":[["ee255cdafe48068d"]]},{"id":"0d9559a8836e3fe2","type":"join","z":"6807afa437fa419a","name":"Wind spd","mode":"custom","build":"buffer","property":"payload","propertyType":"msg","key":"topic","joiner":"","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1440,"y":720,"wires":[["8374fa9877a624ae"]]},{"id":"8374fa9877a624ae","type":"function","z":"6807afa437fa419a","name":"Wind spd","func":"var low = msg.payload[1];\nvar high = msg.payload[0];\n\nvar total = ((high << 8) + low);\n\nmsg.payload = total /10;\nmsg.measurement = \"wetter\";\nmsg.topic = \"wetterstation/windSpd\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1620,"y":720,"wires":[["d164295ef2d4c47c","0addb75a34dff4d6"]]},{"id":"d164295ef2d4c47c","type":"change","z":"6807afa437fa419a","name":"Wspd InfluxDB","rules":[{"t":"set","p":"topic","pt":"msg","to":"Wspd","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1880,"y":720,"wires":[["ee255cdafe48068d"]]},{"id":"e324f04f.604e68","type":"mqtt-broker","name":"localhost","broker":"127.0.0.1","port":"1883","clientid":"NodeRed","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""}]